absl-py==1.4.0
altair==5.2.0
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
attrs==22.2.0
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==6.0.0
blinker==1.7.0
bs4==0.0.1
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.0.1
clean-text==0.6.0
click==8.1.3
comm==0.1.2
contourpy==1.0.7
Corpus==0.4.2
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
deepcut==0.7.0.0
defusedxml==0.7.1
editdistance==0.6.2
emoji==2.8.0
epitran==1.24
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.16.2
filelock==3.12.2
Flask==3.0.2
Flask-Cors==4.0.0
flatbuffers==23.5.26
fonttools==4.38.0
fqdn==1.5.1
ftfy==6.1.1
gast==0.4.0
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.16.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.51.3
h5py==3.8.0
html5lib==1.1
idna==3.4
importlib-metadata==6.11.0
ipykernel==6.29.0
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.0
jupyter-events==0.6.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
keras==2.13.1
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==15.0.6.1
marisa-trie==0.8.0
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.7.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
mizani==0.9.3
ml-dtypes==0.2.0
mpmath==1.3.0
munkres==1.1.4
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.14.2
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numpy==1.24.2
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
panphon==0.20.0
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.4.0
platformdirs==3.0.0
plotnine==0.12.4
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==4.23.4
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydeck==0.8.1b0
Pygments==2.14.0
pyparsing==3.0.9
pyrsistent==0.19.3
pythainlp==4.0.2
python-dateutil==2.8.2
python-json-logger==2.0.6
pytz==2022.7.1
PyYAML==6.0
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
regex==2021.9.30
requests==2.28.2
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rsa==4.9
scikit-learn==1.3.0
scikit-plot==0.3.7
scipy==1.11.1
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0.post1
smart-open==7.0.1
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.4
stack-data==0.6.2
statsmodels==0.14.0
stop-words==2018.7.23
streamlit==1.29.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.0
tensorflow-cpu==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.33.0
tensorflow-macos==2.9.0
tensorflow-metal==0.7.1
termcolor==2.2.0
terminado==0.17.1
th-simple-preprocessor==0.10.1
threadpoolctl==3.2.0
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.5.0
tzlocal==5.2
unicodecsv==0.14.1
uri-template==1.2.0
urllib3==1.26.14
validators==0.22.0
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==3.0.1
widgetsnbextension==4.0.5
wordcloud==1.8.2.2
wrapt==1.14.1
zipp==3.17.0
